body {
    background-image: url(../Assets/blurshot-edited-2026-01-13T13-39-31.jpg);
}

.overlay2 {
    background-color: goldenrod;
    border-style: solid;
   border-color: black;
   border-width: 10px;
   border-radius:;
   margin-top: 40px;
   margin-left: 100px;
   margin-right: 100px;
   padding-bottom: 700px;
   text-align: center;
   font-size: 50px;
}

h3 {
    margin-top: 5px;
}

.gegevens {
    margin-left: 100px;
    border-color: black;
    border-style: solid;
    width: fit-content;
    padding: 50px;
}


form {
    font-size: 25px;
    text-align: left;
}

input {
    font-size: 30px;
}
