body {
    background-image: url(../Assets/blurshot-edited-2026-01-13T13-39-31.jpg);
}

.m-bord {
     background-color: goldenrod;
   border-style: solid;
   border-color: black;
   border-width: 10px;
   margin-left: 500px;
   margin-right: 500px;
   margin-top: 100px;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   font-size: 15px;
   border-radius: 25px;
   padding-bottom: 25px;
}

.m-bord button {
    background-color: red;
    font-size: 25px;
    border-radius: 25px;
    padding: 15px;
}

.m-bord button:hover {
    background-color: darkred;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 25px;
}

p {
    font-size: 18px;
}