body{
 background-image: url(../Assets/blurshot-edited-2026-01-13T13-39-31.jpg);
}

.overlay {
   background-color: goldenrod;
   border-style: solid;
   border-color: black;
   border-width: 10px;
   border-radius: 5%;
   margin-top: 25px;
   margin-left: 550px;
   margin-right: 600px;
   padding-bottom: 15px;
   text-align: center;
   font-size: 50px;
}

h3 {
    font-size: 70px;
}

p1 {
    font-size: 30px;
}
p {
    background-color: grey;
    border-radius: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 35px;
}

button {
    background-color: red;
    font-size: large;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
}

button:hover {
    background-color: rgb(200, 0, 0);
    cursor: pointer;
}