body {
    background-image: url(../Assets/Wall.jpg);
    margin: 0;
    border: 30px solid black;
    box-sizing: border-box;
    border: 35px solid black;

}

html, body {
    height: 100%;
}

.header-container {
    display: flex;
    gap: 25px;
}

 .title {
    font-size: 100px;
    text-align: center;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 7px;
    background-color: goldenrod;
    width: 90%;
    height: 115px;
    border-radius: 100px;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0%;
    
}

.Logo {
    color: white;
    height: 115px;
    width: 115px;
    margin-left: 10px;
    margin-top: 15px;
    border-style: solid;
    border-color: black;
    border-width: 7px;
    background-color: goldenrod;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.dot-left {
    margin-left: 300px;
}

.dot-right {
    margin-right: 300px;
}

.Blackline {
    border-color: black;
    border-style: solid;
}

.whole-header {
    background-color: rgb(50, 50, 50)
    
}

.card-area {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    border: solid black;
    width: 450px;
    height: 450px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.356);
    border-width: 15px;
}

.card h3 {
    text-align: center;
    border: solid  black;
    background-color: goldenrod;
    font-size: 35px;
    margin-top: 0%;
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    border-width: 6px;
}

.card button {
    font-size:20px;
    background-color: goldenrod;
    border-radius: 100px;
    border-color: black;
    width: 300px;
    height: 75px;
}