body {
    background-image: url(../Assets/Wall.jpg);
    margin: 0;
    border: 30px solid black;
    box-sizing: border-box;
    border: 35px solid black;

}

html, body {
    height: 100%;
}

.header-container {
    display: flex;
    gap: 25px;
}

 .title {
    font-size: 100px;
    text-align: center;
    text-align: center;
    border-color: black;
    border-style: solid;
    background-color: goldenrod;
    width: 90%;
    border-radius: 100px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0%;
    
}

.Logo {
    color: white;
    height: 115px;
    width: 115px;
    margin-left: 25px;
    margin-top: 10px;
    border-style: solid;
    border-color: black;
    background-color: goldenrod;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.dot-left {
    margin-left: 300px;
}

.dot-right {
    margin-right: 300px;
}

.Blackline {
    border-color: black;
    border-style: solid;
    margin-top: 1%;
    background-color: grey;
}