body {
    background-image: url(../Assets/Wall.jpg);
    border: 35px solid black;
    margin: 0%;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

 .title {
    text-align: center;
}

.Logo {
    color: white;
    margin-left: 25px;
    border-style: solid;
    border-color: white;
    border-radius: 100%;
}

