body {
    background-image: url(../Assets/Wall.jpg);
    margin: 0;
    border: 30px solid black;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.MainHeader {
    text-align: center;
    font-size: 100px;
    margin-top: 10px;
}