body {
    background-image: url(../Assets/blurshot-edited-2026-01-13T13-39-31.jpg);
    
}

.overlay2 {
    background-color: goldenrod;
    border-style: solid;
   border-color: black;
   border-radius: 25px;
   border-width: 10px;
   margin-top: 25px;
   margin-left: 100px;
   margin-right: 100px;
   padding-bottom: 50px;
   text-align: center;
   font-size: 50px;
}

.gegevens {
    margin-right: 900px;
    margin-top: -50px;
    font-size: 35px;
}


form {
    font-size: 20px;
    text-align: left;
    margin-left: 200px;
    margin-top: -30px;
}

input {
    font-size: 35px;
}

.datum {
    margin-left: 800px;
    margin-top: -375px;
    font-size: 35px;
}

.datum button {
    background-color: goldenrod;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.datum button:hover {
    background-color: rgb(168, 128, 25);
    cursor: pointer;
}

.datum button:focus {   
    background-color: rgb(168, 128, 25);
}

.kapper {
    margin-right: 900px;
    margin-top: 50px;
    font-size: 35px;
}

.kapper button {
    border-radius: 50%;
    padding: 35px;
    border-width: 3px;
}

.kapper button:hover {
    background-color: grey;
}

.kapper button:focus {
    background-color: rgb(168, 128, 25);
}

.keuze {
    margin-left: 800px;
    margin-top: -225px;
    font-size: 35px;
}

.keuze button {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    background-color: goldenrod;
    border-width: 4px;
    border-color: black;
}

.keuze button:hover {
    background-color: rgb(168, 128, 25);
    cursor: pointer;
}

.keuze button:focus {
    background-color: rgb(168, 128, 25);
}

.knoppen {
    justify-content: center;
    margin-top: 75px;
}

.bevestigen {
    background-color: green;
    font-size: 30px;
    border-radius: 25px;
    padding: 10px;
}

.terug {
    background-color: red;
    font-size: 30px;
    border-radius: 25px;
    padding: 10px;
}

.bevestigen:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.terug:hover {
    background-color: darkred;
    cursor: pointer;
}