h1 {
    justify-content: center;
    display: flex;
    margin-top: 200px;
}

.troll button {
    margin-left: 680px;
    margin-top: 200px;
    font-size: 25px;
}

.troll button:hover {
    cursor: pointer;
}

img {
    margin-top: 346px;
    margin-left: -8px;
}